.calculator{
    height: 340px;
    width: 280px;
    background-color:#e8e8e8;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid #777;
}
.main-bar{
    margin-bottom: 20px;
    text-align: right;
    width: 100%;

}
#inp {
font-size: 23px;
font-weight: bold;
}
.btn{
    font-size: 40px;
    cursor: pointer;
    width: 61px;
}
.line{
    margin-bottom: 10px ;
}
.last input{
    width: 126px;
}

